#tiempo1{
	animation-delay: 0.2s;
}

#tiempo2{
	animation-delay: 0.4s;
}

#tiempo3{
	animation-delay: 0.8s;
}

#tiempo4{
	animation-delay: 1s;
}
#tiempo5{
	animation-delay: 1.2s;
}
#tiempo6{
	animation-delay: 1.4s;
}
#tiempo7{
	animation-delay: 1.6s;
}
#tiempo8{
	animation-delay: 1.8s;
}
#tiempo9{
	animation-delay: 2s;
}
#tiempo10{
	animation-delay: 2.2s;
}
#tiempo11{
	animation-delay: 2.4s;
}
#tiempo12{
	animation-delay: 2.6s;
}
#tiempo13{
	animation-delay: 2.8s;
}
#tiempo14{
	animation-delay: 3s;
}
#tiempo15{
	animation-delay: 3.2s;
}
#tiempo16{
	animation-delay: 3.4s;
}
#tiempo17{
	animation-delay: 3.6s;
}